---
import Layout from '../../components/Layout.astro';
import Food from '../../components/Food.svelte';
import { getStory } from '../../../public/utils/storyblok.js';

const story = await getStory('food');
// console.log(story);
---

<Layout title="SveltePage">
  <html>
    <body>
      <Food story={story} />
    </body>
  </html>
</Layout>
