---
// deactivating ts-check for this file
// @ts-nocheck
import Layout from '../../components/Layout.astro';
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro';

// import { getStory } from '../../../public/utils/storyblok.js';
import { storyblokEditable } from '@storyblok/astro';
import { useStoryblokApi } from '@storyblok/astro';

// const story = await getStory('food');

const storyblokApi = useStoryblokApi();
const { data } = await storyblokApi.get('cdn/stories/food', {
  version: 'draft',
});

const story = data.story;
// console.log(story);
// set ssr to false when in production
const ssr = import.meta.env.PUBLIC_ENV !== 'production';
---

<Layout title="SveltePage">
  <html>
    <div {...storyblokEditable(story)}>
      <!--  Only works after mounted INFO-->
      <StoryblokComponent blok={story.content} />
    </div>
  </html>
</Layout>
