---
import Layout from '../../components/Layout.astro';
import Food from '../../components/Food.svelte';
import { getStory } from '../../../public/utils/storyblok.js';

const story = await getStory('food');

// set ssr to false when in production
const ssr = import.meta.env.PUBLIC_ENV != 'prodcution';
---

<Layout title="SveltePage">
  <html>
    <body>
      {ssr ? <Food story={story} client:only /> : <Food story={story} />}
    </body>
  </html>
</Layout>
