---
import Layout from '../../components/Layout.astro';
import Product from '../../components/Product.svelte';
---

<Layout title="SveltePage">
  <html>
    <body>
      <Product client:load />
    </body>
  </html>
</Layout>
