---
import Layout from '../../components/Layout.astro';
import Product from '../../components/Product.svelte';
---

<Layout title="SveltePage">
  <html>
    <body>
      <Product client:load />
      <!-- We need to use client:only|load|visible to tell astro that this should be treated as hydrated interactive component to prevent cutting off any js  -->
    </body>
  </html>
</Layout>
