---
import Layout from '../components/Layout.astro';
import Navigation from '../components/sections/Navigation.svelte';
import Footer from '../components/sections/Footer.svelte';
import Gallery from '../components/sections/Gallery.svelte';
---

<Layout title="SveltePage">
  <html>
    <body>
      <!-- We need to use client:only|load|visible to tell astro that this should be treated as hydrated interactive component to prevent cutting off any js  -->
      <Navigation client:load />
      <Gallery client:load />
      <Footer client:visible />
    </body>
  </html>
</Layout>
